.table em { color: #888; }
.table thead td { font-weight: bold; }
#extensions td { vertical-align: middle !important; }

.queue-member:hover { background-color: #d9534f !important; text-decoration:line-through !important; }

.ringing {
  display: inline-block;
  -moz-animation: pulse 0.5s infinite linear;
  -o-animation: pulse 0.5s infinite linear;
  -webkit-animation: pulse 0.5s infinite linear;
  animation: pulse 0.5s infinite linear;
}

.pulse {
  display: inline-block;
  -moz-animation: pulse 2s infinite linear;
  -o-animation: pulse 2s infinite linear;
  -webkit-animation: pulse 2s infinite linear;
  animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}